In [2]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from tqdm import tqdm

In [4]:
needed = pd.read_csv("./data/neededData2.csv")
print(needed.shape)
needed = needed.drop(columns=['Unnamed: 0',])
needed.head()

(809660, 6)

   user_id  item_id  correct  nb_hint  answers_using_hint
0       72      563        0        0                   4
1      247      563        0        0                   4
2      249      563        1        0                   2
3      212      563        1        0                   2
4      154      563        0        0                   4

In [5]:
# Créer un dataframe vide qui a columns == 'item_id' et index = "Les categories des reponses: correct avec hint ==> 'CH', correct sans hint ==> 'CS', incorrect avec hint ==> 'IH' et incorrect sans hint ==> 'IS' "
def createEmpty_sumOfAnswers_Dataframe(data):
    """
    ==> Exemple
    sumOfAnswers_df = createEmpty_sumOfAnswers_Dataframe(needed)
    print(empty_sumOfAnswers_df.shape)
    empty_sumOfAnswers_df.head()
    """
    column_names = data['item_id'].unique()
    rows_name = ["CH","CS","IH","IS"]
    columns = pd.DataFrame(columns = column_names)
    index = pd.DataFrame(rows_name, columns = ['catégories'])
    empty_sumOfAnswers_df = pd.concat([index,columns], axis=1)
    empty_sumOfAnswers_df = empty_sumOfAnswers_df.set_index("catégories")
    empty_sumOfAnswers_df = empty_sumOfAnswers_df.replace(np.nan,0)
    return empty_sumOfAnswers_df

# Remplir le dataframe en utilisant les valeurs de la colonne  "answers_using_hint"
def fill_EmptyDataframe(data,emptyDataframe,columns):
    """
    ==> Exemple
    filled_df = fill_EmptyDataframe(needed,empty_df,columns = 'answers_using_hint')
    print(filled_df.shape)
    filled_df.head()
    """
    filled_sumOfAnswers_df = emptyDataframe
    column_name = data['item_id'].unique()
    rows_name = data['user_id'].unique()
    for i in tqdm(rows_name):
        for j in column_name:
            dictVal = data[(data["user_id"] == i) & (data["item_id"] == j)]['answers_using_hint'].value_counts()
            chVal = filled_sumOfAnswers_df.loc["CH",j]
            csVal = filled_sumOfAnswers_df.loc["CS",j]
            ihVal = filled_sumOfAnswers_df.loc["IH",j]
            isVal = filled_sumOfAnswers_df.loc["IS",j]
            if len(dictVal) != 0:
                for key, value in dictVal.items():
                    key = int(key)
                    if key == 1:
                        chVal = int(chVal) + value
                    elif key == 2:
                        csVal = int(csVal) + value
                    elif key == 3:
                        ihVal = int(ihVal) + value
                    elif key == 4:
                        isVal = int(isVal) + value
                filled_sumOfAnswers_df.loc["CH",j] = chVal
                filled_sumOfAnswers_df.loc["CS",j] = csVal
                filled_sumOfAnswers_df.loc["IH",j] = ihVal
                filled_sumOfAnswers_df.loc["IS",j] = isVal
    return filled_sumOfAnswers_df

def createSumMatrix(data):
    column_names = data['item_id'].unique()
    rows_name = ["CH","CS","IH","IS"]
    columns = pd.DataFrame(columns = column_names)
    index = pd.DataFrame(rows_name, columns = ['catégories'])
    sumOfAnswers_df = pd.concat([index,columns], axis=1)
    sumOfAnswers_df = sumOfAnswers_df.set_index("catégories")
    sumOfAnswers_df = sumOfAnswers_df.replace(np.nan,0)

    column_name = data['item_id'].unique()
    rows_name = data['user_id'].unique()
    for i in tqdm(rows_name):
        for j in column_name:
            dictVal = data[(data["user_id"] == i) & (data["item_id"] == j)]['answers_using_hint'].value_counts()
            chVal = sumOfAnswers_df.loc["CH",j]
            csVal = sumOfAnswers_df.loc["CS",j]
            ihVal = sumOfAnswers_df.loc["IH",j]
            isVal = sumOfAnswers_df.loc["IS",j]
            if len(dictVal) != 0:
                for key, value in dictVal.items():
                    key = int(key)
                    if key == 1:
                        chVal = int(chVal) + value
                    elif key == 2:
                        csVal = int(csVal) + value
                    elif key == 3:
                        ihVal = int(ihVal) + value
                    elif key == 4:
                        isVal = int(isVal) + value
                sumOfAnswers_df.loc["CH",j] = chVal
                sumOfAnswers_df.loc["CS",j] = csVal
                sumOfAnswers_df.loc["IH",j] = ihVal
                sumOfAnswers_df.loc["IS",j] = isVal
    return sumOfAnswers_df

In [6]:
empty_sumOfAnswers_df = createEmpty_sumOfAnswers_Dataframe(needed)
print(empty_sumOfAnswers_df.shape)
empty_sumOfAnswers_df.head()

(4, 1084)

,563,81,79,80,849,851,852,850,87,89,...,977,524,997,1063,251,4,710,1002,943,1001
catégories,,,,,,,,,,,,,,,,,,,,,
CH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
filled_df = fill_EmptyDataframe(needed,empty_sumOfAnswers_df,columns = 'answers_using_hint')
print(filled_df.shape)
filled_df.head()

100%|██████████| 569/569 [39:22<00:00,  4.15s/it](4, 1084)

,563,81,79,80,849,851,852,850,87,89,...,977,524,997,1063,251,4,710,1002,943,1001
catégories,,,,,,,,,,,,,,,,,,,,,
CH,45,1,1,1,9,11,2,5,0,1,...,0,0,0,0,0,0,0,0,0,0
CS,1003,79,95,128,261,255,149,281,72,35,...,7,10,0,32,5,4,0,0,16,0
IH,152,59,21,23,21,34,34,46,51,62,...,0,0,3,0,0,0,11,2,0,2
IS,1202,333,222,180,261,231,262,291,521,497,...,12,0,12,0,5,0,18,15,0,15

In [8]:
filled_df.to_csv('./data/items_categories2.csv')