In [1]:
import pandas as pd
from pprint import pprint
import pystan
from scipy.special import expit
from matplotlib import pyplot as plt
from numpy.random import normal, randint, binomial, choice
from numpy import percentile, concatenate, array, linspace, append
import numpy as np
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import mean_squared_error,mean_absolute_error 
import pickle

In [2]:
neededData = pd.read_csv('./data/neededData.csv')
print(neededData.shape)
neededData.head()

(809660, 6)

        user_id  item_id   timestamp  correct  nb_hint  answers_using_hint
535958       72      563  1125395408        0        0                   4
562642      247      563  1125395410        1        0                   2
569598      249      563  1125395414        1        0                   2
555691      212      563  1125395416        1        0                   2
545705      154      563  1125395419        0        0                   4

In [3]:
needed = neededData[["user_id","item_id","correct"]]
needed.head()

        user_id  item_id  correct
535958       72      563        0
562642      247      563        1
569598      249      563        1
555691      212      563        1
545705      154      563        0

In [4]:
train_data = {'I': len(needed['item_id'].unique()),
              'S': len(needed['user_id'].unique()),
              'N': len(needed),
              'item': needed['item_id'].to_numpy(),
              'subject': needed['user_id'].to_numpy(),
              'grade': needed['correct'].to_numpy(),}
pprint(train_data)

{'I': 1084,
 'N': 809660,
 'S': 569,
 'grade': array([0, 1, 1, ..., 1, 1, 1], dtype=int64),
 'item': array([563, 563, 563, ..., 482, 482, 482], dtype=int64),
 'subject': array([ 72, 247, 249, ..., 392, 392, 392], dtype=int64)}

In [5]:
_1pl_model = pystan.StanModel(file="./data/_1pl_model.stan")

INFO:pystan:COMPILING THE C++ CODE FOR MODEL anon_model_aed87605d565431f117463bb4ca48038 NOW.

In [6]:
# fit model
_1pl_model_fit = _1pl_model.sampling(data=train_data, iter=2000, chains=4,thin=1, seed=2021,algorithm='HMC')

In [ ]:
# extract parameters
_1pl_model_params = _1pl_model_fit.extract()
# print fit summary
print(_1pl_model_fit)
# draw summary plot
f = _1pl_model_fit.plot()
f.set_size_inches(18, 10)
plt.tight_layout()
# On obtient donc "Item Information Functions"

In [ ]:
# parameter summary statistics pystan 3.2
# df = fit.to_frame()
# print(df.describe().T)

# Export IRT Model

In [ ]:
with open("_1pl_model_2000-iter_chains-4_seed-2021_algo-HMC.pkl", "wb") as f:
    pickle.dump({'model' : posteriori, 'fit' : _1pl_model_fit}, f, protocol=-1)

# Load Saved IRT Model

In [ ]:
with open("pfeModel_fit2.pkl", "rb") as f:
    data_dict = pickle.load(f)
fit = data_dict['fit']
fit

In [ ]:
ability = np.mean(fit['ability'],axis=1)
difficulty = np.mean(fit['difficulty'],axis=1)
delta = np.mean(fit['delta'],axis=1)

In [ ]:
y_pred = []
for i in range(0,len(needed)):
    diff = train_data['item'][i]
    abilt = train_data['subject'][i]
    p = np.exp(ability[abilt - 1 ] - difficulty[diff - 1])/(1+np.exp(ability[abilt - 1] - difficulty[diff - 1]))
    y_pred.append(p)
y_pred = np.round(y_pred).astype(int)
y_pred

In [ ]:
mse = mean_squared_error(train_data['grade'],y_pred)
mse

In [ ]:
x = cohen_kappa_score(train_data['grade'],y_pred)
x